* {
    margin: 0;
    padding: 0;
}

:root {
    --main: #222222;
    --red: #ae3a3a;
}

@font-face {
    src: url('../fonts/Shrikhand-Regular.ttf');
    font-family: Shrikhand;
}


main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-top: 10px;
    font-size: 100px;
    color: var(--main);
    font-family: Shrikhand;
    border-bottom: 5px solid var(--main);

}

h2 {
    font-family: Shrikhand;
    margin: 10px;
    font-size: 40px;
    color: var(--red);
}

#canvas {
    width: 70%;
    height: 30vw;
    background-color: var(--main);
    border-radius: 10px;
}