main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 100px;
}

button {
    width: 15rem;
    height: 10rem;
    font-size: 50px;
}